<section class="container">
  <div id="buttons" class="">
    <a class="btn btn-primary" href="#" data-command="up">Up <i class="icon-arrow-up icon-white"></i></a>
    <div class="middle-buttons clearfix">
      <div>
        <a class="btn btn-primary pull-left" href="#" data-command="left">Left <i class="icon-arrow-left icon-white"></i></a>
      </div>
      <div class="camview">
      </div>
      <div>
        <a class="btn btn-primary pull-right" href="#" data-command="right">Right <i class="icon-arrow-right icon-white"></i></a>
      </div>
    </div>
    <a class="btn btn-primary" href="#" data-command="down">Down <i class="icon-arrow-down icon-white"></i></a>
  </div>
</section>